$background: #6495ed;
$green: #004000;
$red: #780000;
$phone: "screen and (max-device-width: 889px)";
$pc: "screen and (min-device-width: 890px)";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: $background;
}
html{
  font-size: 14px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');