@import "../../styles.scss";
.in{
  color: $green;
}
.out{
  color: $red;
}
.container{
  display: flex;
  align-items: center;
}
.date{
  font-size: 1.2rem;
  margin-right: 20px;
}
.arrow{
  margin: 15px;
}